<header class="w-full h-[60px] px-[10%] m-auto flex justify-between items-center bg-[#11537d] text-white ">
  <%= link_to "Blog App", root_path %>
  <nav class="navbar">
    <ul class="navLinks flex gap-4">
      <% if user_signed_in? %>
        <li><%= button_to "logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= button_to "Sign in", new_user_session_path, method: :get %></li>
        <li><%= button_to "Sign up", new_user_registration_path, method: :get %></li>
      <% end %>
    </ul>
  </nav>
</header>